@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    @apply outline-none ring-0;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-neutral-300;
  }
}

@layer components {
  .wrapper {
    @apply w-full md:w-[95vw] lg:w-[90vw] 2xl:w-[80vw] max-w-[1300px] mx-auto px-8 sm:px-12;
  }
}

@font-face {
  font-family: "RequiemTextTDA";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemText-Roman-TD-Space.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemTextTDB";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemText-Roman-TD.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemTextTDA";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/RequiemText-Italic-TD-Space.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemTextTDB";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/RequiemText-Italic-TD.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemDispTDA";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemDisp-Roman-TD-Space.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemDispTDB";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemDisp-Roman-TD.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemDispTDA";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/RequiemDisp-Italic-TD-Space.woff") format("woff");
  font-display: fallback;
}

@font-face {
  font-family: "RequiemDispTDB";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/RequiemDisp-Italic-TD.woff") format("woff");
  font-display: fallback;
}

@layer components {
  .jh-prose {
    @apply prose prose-neutral dark:prose-invert prose-lg md:prose-xl !leading-normal prose-h1:font-requiem-display prose-h1:text-3xl prose-h1:mt-8 prose-h1:mb-0 prose-h1:font-normal prose-h1:small-caps prose-blockquote:ps-0 prose-blockquote:border-none prose-blockquote:not-italic prose-video:w-full prose-ol:pl-4 prose-ol:marker:text-inherit prose-ul:pl-4 prose-ul:marker:text-inherit prose-li:my-0.5 prose-li:pl-0.5 prose-figcaption:mt-3 prose-figcaption:md:text-lg prose-figcaption:text-neutral-800 hover:prose-a:no-underline prose-a:decoration-1 prose-a:underline-offset-4;
  }
}

@layer utilities {
  .no-caps {
    font-variant: normal;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .all-small-caps {
    font-variant: all-small-caps;
  }

  .prose blockquote p:before,
  .prose blockquote p:after {
    @apply content-none;
  }

  .prose blockquote p cite {
    @apply block not-italic mt-2 text-lg;
  }

  .prose blockquote p cite::before {
    @apply content-['—'];
  }

  .prose > *:last-child {
    @apply mb-0;
  }

  .prose > *:last-child figure {
    @apply mb-0;
  }

  .prose > *:last-child p:last-child {
    @apply mb-0;
  }

  .prose figure img {
    @apply my-0;
  }

  .prose p:has(+ ul),
  .prose p:has(+ ol) {
    @apply mb-2;
  }

  .prose p + ul,
  .prose p + ol {
    @apply mt-2;
  }
}

/* Spinner */
.spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

.spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #737373;
  border-left-color: #737373;
  border-radius: 50%;

  animation: nprogress-spinner 400ms linear infinite;
}

@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}