@tailwind base;
@tailwind components;
@tailwind utilities;

/*:root {*/
/*  --foreground-rgb: 0, 0, 0;*/
/*  --background-start-rgb: 214, 219, 220;*/
/*  --background-end-rgb: 255, 255, 255;*/
/*}*/

/*@media (prefers-color-scheme: dark) {*/
/*  :root {*/
/*    --foreground-rgb: 255, 255, 255;*/
/*    --background-start-rgb: 0, 0, 0;*/
/*    --background-end-rgb: 0, 0, 0;*/
/*  }*/
/*}*/

/*body {*/
/*  color: rgb(var(--foreground-rgb));*/
/*  background: linear-gradient(*/
/*      to bottom,*/
/*      transparent,*/
/*      rgb(var(--background-end-rgb))*/
/*    )*/
/*    rgb(var(--background-start-rgb));*/
/*}*/

/*@layer utilities {*/
/*  .text-balance {*/
/*    text-wrap: balance;*/
/*  }*/
/*}*/

@font-face {
  font-family: "RequiemTDA";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemText-Roman-TD-Space.woff") format("woff");
}

@font-face {
  font-family: "RequiemTDB";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemText-Roman-TD.woff") format("woff");
}

@font-face {
  font-family: "RequiemTDA";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/RequiemText-Italic-TD-Space.woff") format("woff");
}

@font-face {
  font-family: "RequiemTDB";
  font-style: italic;
  font-weight: 400;
  src: url("/fonts/RequiemText-Italic-TD.woff") format("woff");
}

@font-face {
  font-family: "RequiemOrnaments";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/RequiemOrnaments.woff") format("woff");
}

.prose {
  @apply !leading-normal;
}

.prose blockquote {
  @apply ps-0 border-none not-italic;
}

.prose blockquote p:before,
.prose blockquote p:after {
  @apply content-none;
}

.prose blockquote p cite {
  @apply block not-italic mt-2 text-lg;
}

.prose blockquote p cite::before {
  @apply content-['—'];
}

.prose > *:last-child {
  @apply mb-0;
}

.prose > *:last-child figure {
  @apply mb-0;
}

/*.prose > * > * > figure {*/
/*  @apply mt-0;*/
/*}*/

/*.prose > *:has(> * > figure) + * > figure {*/
/*  @apply mt-0;*/
/*}*/

.prose > *:last-child p:last-child {
  @apply mb-0;
}

.prose video {
  @apply w-full;
}

.prose figure img {
  @apply my-0;
}

.prose p:has(+ ul),
.prose p:has(+ ol) {
  @apply mb-2;
}

.prose p + ul,
.prose p + ol {
  @apply mt-2;
}

.prose ul,
.prose ol {
  @apply pl-4 marker:text-inherit;
}

.prose ul li,
.prose ol li {
  @apply my-0.5 pl-0.5;
}

.prose figcaption {
  @apply text-lg text-neutral-800;
}

.prose a {
  @apply hover:no-underline decoration-1 underline-offset-4;
}

.small-caps {
  font-variant: small-caps;
}

.all-small-caps {
  font-variant: all-small-caps;
}