@import "./fonts.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  *:focus {
    @apply outline-none ring-0;
  }

  *:focus-visible {
    @apply outline-none ring-2 ring-neutral-300;
  }
}

@layer components {
  .wrapper {
    @apply w-full md:w-[95vw] lg:w-[90vw] 2xl:w-[80vw] max-w-[1300px] mx-auto px-8 lg:px-12;
  }

  .jh-prose {
    @apply prose prose-neutral dark:prose-invert prose-lg lg:prose-xl !leading-normal prose-h1:text-3xl prose-h1:mt-8 prose-h1:mb-0 prose-h1:font-normal prose-h1:small-caps prose-h2:text-2xl prose-h2:mb-0 prose-h2:font-normal prose-h2:small-caps prose-blockquote:ps-0 prose-blockquote:border-none prose-blockquote:not-italic prose-video:w-full prose-ol:pl-4 prose-ol:marker:text-inherit prose-ul:pl-4 prose-ul:marker:text-inherit prose-li:my-0.5 prose-li:pl-0.5 prose-figcaption:mt-3 prose-figcaption:md:text-lg prose-figcaption:text-neutral-800 hover:prose-a:no-underline prose-a:decoration-1 prose-a:underline-offset-2;
  }

  .jh-prose blockquote p:before,
  .jh-prose blockquote p:after {
    @apply content-none;
  }

  .jh-prose blockquote p cite {
    @apply block not-italic mt-2 text-lg;
  }

  .jh-prose blockquote p cite::before {
    @apply content-['—'];
  }

  .jh-prose > *:last-child {
    @apply mb-0;
  }

  .jh-prose > *:last-child figure {
    @apply mb-0;
  }

  .jh-prose > *:last-child p:last-child {
    @apply mb-0;
  }

  .jh-prose figure img {
    @apply my-0;
  }

  .jh-prose p:has(+ ul),
  .jh-prose p:has(+ ol) {
    @apply mb-2;
  }

  .jh-prose p + ul,
  .jh-prose p + ol {
    @apply mt-2;
  }

  .select {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIyNCIgaGVpZ2h0PSIyNCIgdmlld0JveD0iMCAwIDI0IDI0IiBmaWxsPSJub25lIiBzdHJva2U9ImN1cnJlbnRDb2xvciIgc3Ryb2tlLXdpZHRoPSIyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPjxwb2x5bGluZSBwb2ludHM9IjYgOSAxMiAxNSAxOCA5Ii8+PC9zdmc+");
    background-repeat: no-repeat;
    background-size: 20px;
    background-position-y: 50%;
    background-position-x: 95%;
  }

  /* Spinner */
  .spinner {
    @apply block fixed top-[15px] right-[15px] z-[1031];
  }

  .spinner-icon {
    @apply w-[18px] h-[18px] border-2 border-transparent border-t-neutral-500 border-l-neutral-500 rounded-full;

    animation: nprogress-spinner 400ms linear infinite;
  }

  @keyframes nprogress-spinner {
    0%   { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
}

@layer utilities {
  .no-caps {
    font-variant: normal;
  }

  .small-caps {
    font-variant: small-caps;
  }

  .all-small-caps {
    font-variant: all-small-caps;
  }
}
